.btn,
.btnaft {
  background-color: #27ae60;
  color: #fff;
  /* font-size: 20px; */
  border-radius: 55px;
  padding: 1rem 3rem;
  border: 1px solid black;
  margin: auto;
  min-width: 200px;
  cursor: pointer;
  /* display: inline-block; */
}

.btnaft::after {
  position: relative;
  display: flex;
  content: "";
  /* font-size: 0px; */
  margin: auto;
  max-width: 75px;
  border-bottom: 2px solid #27ae60;
  bottom: -30px;
}
