.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f9f9f9;
  /* padding: 30px 0; */
  margin-bottom: 80px;
}

.center {
  display: flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: row;
}

.icon_div {
  padding-right: 0.5rem;
  /* color: ; */
}
