.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f9f9f9;
  /* padding: 30px 0; */
  /* margin-bottom: 50px; */
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: 2rem; */
  margin: auto 0;
  min-width: 220px;
}

.left {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}
.logoTitle {
  vertical-align: middle;
  font-size: 1.7rem;
}

.icon_div {
  padding-right: 0.5rem;
  /* color: ; */
}

.right {
  margin: auto 0;
}

.navInput {
  box-sizing: border-box;
  border: none;
  box-shadow: inset 0 2px 5px 1px #888;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.searchIcon {
  position: relative;
  left: 1.7rem;
}

.searchBtn {
  background-color: #27ae60;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 55px;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0px 2px 10px 1px #000;
  transition-duration: 0.4s;
  margin: auto;
  cursor: pointer;
  float: inline-end;
}

.searchBtn:hover {
  box-shadow: 0px 2px 10px 1px #27ae60;
}

.btnContainer {
  display: inline-block;
}

.logoLink {
  cursor: pointer;
}
